{% extends "index.html.twig" %}
{% block body %}


    <div class="center_col" role="main" >



    <div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">

        <h2 >Create IP Address</h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">


        <br/>
        <div class="x_content">
            <br />
            {{ form_start(form,{'attr':{'class':'form-horizontal form-label-left input_mask'}})}}

            {% if not form.vars.valid %}
                <div class="alert alert-danger" id="errorDiv">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.address) }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.address, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} )}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.room,null ,{ 'label_attr': {'style': 'font-weight:200'}})}}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.room, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} )}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.blocked,null ,{ 'label_attr': {'style': 'font-weight:200'}})}}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form_widget(form.blocked)}}
                </div>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-secondary" type="button" onclick="location.href='./addressShowAll'">Cancel</button>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}