{% extends "index.html.twig" %}
{% block body %}
    <div class="center_col" role="main" >
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 > Create Department</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {# Checking for form errors and displaying them#}
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger" id="errorDiv">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    <br />
                    {{ form_start(form,{'attr':{'class':'form-horizontal form-label-left input_mask'}})}}
                    <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.name) }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} )}}
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_errors(form.abbreviation, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} ) }}
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.abbreviation) }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                           {{form_widget(form.abbreviation, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} )}}
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.adminNotes,null ,{ 'label_attr': {'style': 'font-weight:200'}}) }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{form_widget(form.adminNotes, {'attr': {'class': 'form-control col-md-7 col-xs-12'}} )}}
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                        <button type="button" class="btn btn-secondary" onclick="location.href='./list_departments'">Cancel</button>
                        {{ form_widget(form.submit,{'attr':{'class':'btn btn-success'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
