{% extends "index.html.twig" %}
{% block body %}
    {#Confirmation Modal Box for saving edited data#}
    <div class="modal" tabindex="-1" role="dialog" id="myModalEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: rgba(38,185,154,.88);height:45px">
                    <h5 class="modal-title" style="color:white; font-size: large;font-family: Helvetica, Arial, sans-serif;"><b>Save</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"/>
                        <span aria-hidden="true">&times;</span></h5>
                    </button>
                </div>
                <div class="modal-body" style="height: 50px">
                    <p>Are you sure you want to save the changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-success" id="saveChanges" >Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="center_col" role="main" >
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 > Edit Schedule Time</h2>
                        <span class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="right">
                    </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        {{ form_start(form,{'attr':{'class':'form-horizontal form-label-left input_mask'}})}}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.StartDate) }}                        </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.StartDate, {'attr': {'class': 'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.EndDate) }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.EndDate, {'attr': {'class': 'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.StartTime) }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.StartTime, {'attr': {'class': 'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_label(form.EndTime) }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.EndTime, {'attr': {'class': 'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" >{{ form_label(form.StartOfWeek) }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{form_widget(form.StartOfWeek, {'attr': {'class': 'form-control col-md-7 col-xs-12'}})}}
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5">
                            <button type="button" class="btn btn-secondary" onclick="location.href='./list_schedule_time'">Cancel</button>
                            {{ form_widget(form.Submit,{'attr':{'class':'btn btn-success','data-toggle':'modal','data-target':'#myModalEdit'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            {# Preventing default submit for form to display confirmation box#}
            $('#form_Submit').on('click',function(event) {
                event.preventDefault();
            });
            {# Submitting form on confirmation from modal box#}
            $('#saveChanges').on('click',function(){
                $('form').submit();
            });
        </script>
    {% endblock %}
{% endblock %}
