<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSMC Admin Dashboard </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.css">

        <!-- datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">


        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/global.css') }}"/>

        <link href="path/to/multiselect.css" media="screen" rel="stylesheet" type="text/css">

    {% endblock %}


</head>

<body class="nav-md">
<div class="container body" style="width: 100%">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="./" class="site_title"> <span>CS Mentor Center</span></a>
                </div>

                <div class="clearfix"></div>



                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="./"><i class="fa fa-home"></i> Home </a>

                            </li>

                            <li><a><i class="fa fa-edit"></i> System Set Up <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="addressShowAll">IP</a></li>
                                    <li><a href='roomShowAll'>Rooms</a></li>
                                    <li><a href="semesterShowAll">Semesters</a></li>
                                    <li><a href="list_departments">Departments</a></li>
                                    <li><a href="listCourses">Courses</a></li>
                                    <li><a href="listSections">Sections</a></li>
                                    <li><a href="list_operational_hours">Operation Hours</a></li>
                                    <li><a href="list_schedule_time">Schedule time</a></li>
                                </ul>
                            </li>

                            <li><a><i class="fa fa-edit"></i> Users <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="userShowAll">User</a></li>
                                    <li><a href="userGroupShowAll">User Groups</a></li>
                                    <li><a href="roleShowAll">Roles</a></li>
                                </ul>
                            </li>

                            <li><a href="listAnnouncements"><i class="fa fa-edit"></i> Announcements</a>
                            </li>

                            <li><a><i class="fa fa-edit"></i> Session Schedule  <span class="badge bg-green">6</span><span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="list_holidays">Holidays</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt="">CSMC Admin
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation-->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                {% block body %}
                {% endblock %}

            </div>
        </div>
        <!-- /page content -->




        <!-- footer content -->
        <footer>
            <div class="pull-right">
                2018 UTD CS6367 Team-Admin
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js">    </script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js"></script>


    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


    <script src="{{ asset('build/js/fastclick.js') }}"></script>
    <script src="{{ asset('build/js/nprogress.js') }}"></script>

    <!-- for multi select tool bar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>



    <!-- datatable  -->

    <script src="{{ asset('build/js/dataTables.buttons.min.js')}}"></script>



    <script src="{{ asset('build/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('build/js/responsive.bootstrap.js')}}"></script>


    <script src="{{ asset('build/js/jszip.min.js')}}"></script>

    <script src="{{ asset('build/js/pdfmake.min.js')}}"></script>
    <script src="{{ asset('build/js/vfs_fonts.js')}}"></script>
    <script src="{{ asset('build/js/gentelella.js') }}"></script>



    {# FROM - GUI EDITOR #}
    <script src="{{ asset('build/js/bootstrap-progressbar.min.js') }}"></script>
    <script src="{{ asset('build/js/icheck.min.js') }}"></script>
    <script src="{{ asset('build/js/moment.min.js') }}"></script>
    <script src="{{ asset('build/js/daterangepicker.js') }}"></script>

    <script src="{{ asset('build/js/jquery.hotkeys.js') }}"></script>
    <script src="{{ asset('build/js/prettify.js') }}"></script>
    <script src="{{ asset('build/js/jquery.tagsinput.js') }}"></script>
    <script src="{{ asset('build/js/switchery.min.js') }}"></script>
    <script src="{{ asset('build/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('build/js/parsley.min.js') }}"></script>
    <script src="{{ asset('build/js/autosize.min.js') }}"></script>
    <script src="{{ asset('build/js/jquery.autocomplete.min.js') }}"></script>
    <script src="{{ asset('build/js/starrr.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap-wysiwyg.min.js') }}"></script>







{% endblock %}



</body>
</html>