{% extends "index.html.twig" %}
{% block body %}
    <div class="page-title">
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h3>Schedule Time
                            <button type="button" class="btn btn-primary" onclick="location.href='./edit_schedule_time?id={{ schedule_time[0].id }}'" style="float:right">Edit</button>
                            </h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Calender Property </th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in schedule_time  %}
                                <tr>
                                    <td>Start Date</td>
                                    <td>{{ s.startDate|date("m/d/y") }}</td>
                                </tr>
                            <tr>
                                <td>EndDate</td>
                                <td>{{ s.endDate|date("m/d/y") }}</td>
                            </tr>
                                <tr>
                                    <td>Start of Week</td>
                                    <td>{{ s.startOfWeek }}</td>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td>{{ s.startTime|date('g:i a') }}</td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td>{{ s.EndTime|date('g:i a') }}</td>
                                </tr>
<tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
