{% extends "index.html.twig" %}
{% block body %}
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="title_left">
                    <h3>Departments
                        <button type="button" class="btn btn-primary" onclick="location.href='./add_department'" style="float:right">New Department</button></h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
                <p class="text-muted font-13 m-b-30"></p>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Abbreviation</th>
                        <th>Admin Notes</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in departments  %}
                        <tr>
                            <td>{{ d.name }}</td>
                            <td>{{ d.abbreviation }}</td>
                            <td>{{ d.adminnotes }}</td>
                            <td>
                                <button type="button" class="btn btn-round btn-success"
                                        onclick="location.href='./edit_department?id={{d.id}}'">Edit</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
