{% extends "index.html.twig" %}
{% block body %}
    <div class="page-title">
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h3>Holidays
                            <button type="button" class="btn btn-primary" onclick="location.href='./add_holidays'" style="float:right">New Holiday</button></h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Description</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for h in holidays  %}
                            <tr>
                                <td>{{ h.holidayDate|date("m/d/y") }}</td>
                                <td>{{ h.day }}</td>
                                <td>{{ h.startTime|date('g:i a') }}</td>
                                <td>{{ h.EndTime|date('g:i a') }}</td>
                                <td>{{ h.description }}</td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./edit_holiday?id={{ h.id }}'">Edit</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
