{% extends "index.html.twig" %}
{% block body %}
    <div class="page-title">
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h3>Operational Hours
                            <button type="button" class="btn btn-primary" onclick="location.href='./list_holidays'" style="float:right">Holidays</button></h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable_list" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in operationalHours  %}
                            <tr>
                                <td>{{ o.day }}</td>
                                <td>{{ o.startTime|date('g:i a') }}</td>
                                <td>{{ o.endTime|date('g:i a') }}</td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./edit_operational_hours?id={{ o.id }}'">Edit</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        {# disable default sorting while displaying datatable#}
        $(document).ready( function () {
            $('#datatable_list').dataTable( {
                "aaSorting":[]
            } );
        } );
    </script>
{% endblock %}
