{% extends "index.html.twig" %}
{% block body %}
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Rooms
                        <button type="button" class="btn btn-primary" onclick="location.href='./roomAdd'" style="float:right">New Room</button></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 189px;" aria-sort="ascending">Room</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">Description</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">Capacity</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">Active</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">Edit</th>
                        </thead>
                        <tbody>
                        {% for rm in room %}
                            <tr>
                                <td>{{rm.__toString()}}</td>
                                <td>{{rm.description}}</td>
                                <td>{{rm.capacity}}</td>
                                <td>{% if rm.active == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {%  endif %}</td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./roomEdit?id={{rm.id}}'">Edit</button>
                                </td>
                            </tr>
                        {% endfor    %}
                        </tbody>
                    </table></div></div>
        </div>
    </div>
    </div>
{% endblock %}
