{% extends "index.html.twig" %}
{% block body %}


    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Semesters


                        <button type="button" class="btn btn-primary" onclick="location.href='./addSemester'"
                                style="float:right">New Semester
                        </button>
                    </h3>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Semester Name</th>
                            <th>Year</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Active</th>
                            <th>Edit</th>
                        </tr>
                        </thead>


                        <tbody>
                        {% for sm in semester %}
                            <tr>
                                <td>{{ sm.season.name }}</td>
                                <td>{{ sm.year }}</td>
                                <td>{{ sm.startDate|date('m-d-Y') }}</td>
                                <td>{{ sm.endDate|date('m-d-Y') }}</td>
                                <td>
                                    {% if sm.active == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./semesterEdit?id={{ sm.id }}'">Edit
                                    </button>
                                </td>


                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}