{% extends "index.html.twig" %}
{% block body %}


    <div class="center_col" role="main" >
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_title">
                        <h2>New User Groups       </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        {# Checking for form errors and displaying them#}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger" id="errorDiv">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        <br />

                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        {{ form_errors(form) }}




                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.name) }}
                                </div>
                                {{ form_errors(form.name) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.description) }}
                                </div>
                                {{ form_errors(form.description) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>



                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.users) }}
                                </div>

                                <div  class="col-md-6 col-sm-6 col-xs-12">

                                    <select class="form-control col-md-7 col-xs-12" required="required">
                                        <option value="admin" selected="selected">All Users</option>
                                        <option value="admin" >Admin</option>
                                        <option value="instructor">Instructor</option>
                                        <option value="mentor">Mentor</option>
                                        <option value="student">Student</option>
                                    </select>


                                </div>


                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12" data-color="white">
                                    <label  class="required" hidden>Users</label>
                                </div>

                                <div  class="col-md-6 col-sm-6 col-xs-12">

                                    <select id='searchable' multiple='multiple' style ="width: 400px; text-align-last:right;" >
                                        {% for u in users %}
                                            <option style="width: 150px !important;"   > {{ u.__toString }} </option>
                                        {% endfor    %}
                                    </select>
                                </div>


                            </div>


                            <div class="form-group">


                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-secondary" type="button" onclick="location.href='./userGroupShowAll'">Cancel</button>

                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

                                </div>
                            </div>


                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(function(){

                $('#searchable').multiSelect({
                    selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='search'>",
                    selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='search'>",

                    afterInit: function(ms){
                        var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function(e){
                                if (e.which === 40){
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function(e){
                                if (e.which == 40){
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                    },
                    afterSelect: function(){
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function(){
                        this.qs1.cache();
                        this.qs2.cache();
                    }
                });

            });

        </script>



    {% endblock %}


{% endblock %}
