{% extends "index.html.twig" %}
{% block body %}



    <div class="clearfix"></div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_title">
                    <div class="title_left">
                        <h3>User Groups
                        <button type="button" class="btn btn-primary" onclick="location.href='./userGroupAdd'" style="float:right">New User Group</button>
                        </h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>User Group Name</th>
                                        <th>Description</th>
                                        <th>Edit</th>

                                    </tr>
                                    </thead>





                                    <tbody>
                                    {% for r in userGroups  %}
                                        <tr>
                                            <td>{{r.name}}</td>
                                            <td>{{r.description}}</td>
                                            <td>

                                                <button type="button" class="btn btn-round btn-success"
                                                        onclick="location.href='./userGroupEdit?id={{r.id}}'">Edit</button>
                                            </td>


                                        </tr>

                                    {% endfor    %}

                    </table>

                </div>

            </div>
        </div>
    </div>



{% endblock %}
     
     
     
