{% extends "index.html.twig" %}
{% block body %}


    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_title">
                    <div class="title_left">
                        <h3>Sections
                            <button type="button" class="btn btn-primary" onclick="location.href='/addNewSection'" style="float:right">New Section</button>
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Course<br>Number</th>
                            <th>Course<br>Name</th>
                            <th>Section</th>
                            <th>Semester</th>
                            <th>Instructor</th>
                            <th>TA</th>
                            <th>Admin<br>Notes</th>
                            <th>Edit</th>
                            <th>Roster</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in sections  %}
                            <tr>
                                <td> {{ s.course.department.abbreviation }} {{ s.course.number }}</td>
                                <td>{{ s.course.name }}</td>
                                <td>{{ s.number }}</td>
                                <td>
                                    {% if s.semester != null %}
                                        {{ s.semester.year }} {{ s.semester.season.name }}
                                    {% endif %}

                                </td>
                                <td>{{ s.instructor.firstName }} {{ s.instructor.lastName }}</td>
                                <td>
                                    {# TWIG array to string #}
                                    {{ s.teaching_assistants |join(', ') }}
                                    {#
                                    {{ s.teaching_assistants.firstName }} {{ s.teaching_assistants.lastName }}
                                    #}
                                </td>
                                <td>
                                    {% if s.description|length > 20 %}
                                        {{ s.description[0:20] }} ...
                                    {% else %}
                                        {{ s.description }}
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='/editSection?id={{s.id}}'">Edit</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-warning"
                                            onclick="location.href='/editSectionRoster?id={{s.id}}'">View</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
