{% extends "index.html.twig" %}
{% block body %}
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <div class="title_left">
                      <h3>Courses
                            <button type="button" class="btn btn-primary" onclick="location.href='/addNewCourse'" style="float:right">New Course</button></h3>
                  </div>
              </div>

              <div class="clearfix"></div>

              <div class="x_content">
                <p class="text-muted font-13 m-b-30"></p>
                <p><b>Supported Course</b></p>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Course Number</th>
                        <th>Course Name</th>
                        <th>Admin Notes</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in courses  %}
                        {% if c.supported == 1 %}
                            <tr>
                                <td>{{ c.department.abbreviation }} {{ c.number }}</td>
                                <td>{{ c.name }}</td>
                                <td>
                                    {% if c.description|length > 20 %}
                                        {{ c.description[0:20] }} ...
                                    {% else %}
                                        {{ c.description }}
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='/editCourse?id={{c.id}}'">Edit</button>
                                </td>
                            </tr>
                        {%  endif %}
                    {% endfor %}
                    </tbody>
                </table>
             </div>


              {% if numUnsupported != 0 %}
                  <div class="x_content">
                  <p class="text-muted font-13 m-b-30"></p>
                  <p><b>Unsupported Course</b></p>
                  <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Course Number</th>
                                <th>Course Name</th>
                                <th>Admin Notes</th>
                                <th>Edit</th>
                            </tr>
                      </thead>
                      <tbody>
                      {% for c in courses  %}
                          {% if c.supported == 0 %}
                              <tr>
                                  <td>{{ c.department.abbreviation }} {{ c.number }}</td>
                                  <td>{{ c.name }}</td>
                                  <td>
                                      {% if c.description|length > 20 %}
                                          {{ c.description[0:20] }} ...
                                      {% else %}
                                          {{ c.description }}
                                      {% endif %}
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-round btn-success"
                                              onclick="location.href='/editCourse?id={{c.id}}'">Edit</button>
                                  </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                      </tbody>
                  </table>
                  </div>
              {% endif %}
          </div>
      </div>
</div>
{% endblock %}
