{% extends "index.html.twig" %}
{% block body %}

    <div class="center_col" role="main" >
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 > Add Roles </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger" id="errorDiv">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">



                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.name) }}
                                </div>
                                {{ form_errors(form.name) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.description) }}
                                </div>
                                {{ form_errors(form.description) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-secondary" type="button" onclick="location.href='./roleShowAll'">Cancel</button>
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

                                </div>
                            </div>

                        </form>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $('#form_submit').on('click',function(event) {
                event.preventDefault();

            });
            $('#saveChanges').on('click',function(){
                $('form').submit();
            });
            $('#deleteBtn').on('click',function(event) {
                event.preventDefault();



            });


        </script>


    {% endblock %}
{% endblock %}
     
     
     
