{% extends "index.html.twig" %}
{% block body %}

<div class="center_col" role="main" >



    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Users</h3>
                    </div>


                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-left panel_toolbox">
                                    <li><button type="button" class="btn btn-dark" onclick="location.href='./userShowAll'">All Users</button></li>
                                    <li><a ><i ></i></a>
                                    </li>

                                </ul>

                                <ul class="nav navbar-left panel_toolbox">
                                    <li><button type="button" class="btn btn-dark" onclick="location.href='./userShowAdmin'">Admin</button></li>
                                    <li><a><i  ></i></a>
                                    </li>

                                </ul>

                                <ul class="nav navbar-left panel_toolbox">
                                    <li><button type="button" class="btn btn-dark" onclick="location.href='./userShowInstructor'">Instructor</button></li>
                                    <li><a><i ></i></a>
                                    </li>

                                </ul>

                                <ul class="nav navbar-left panel_toolbox">
                                    <li><button type="button" class="btn btn-dark" onclick="location.href='./userShowMentor'">Mentor</button></li>
                                    <li><a><i ></i></a>
                                    </li>

                                </ul>



                                <ul class="nav navbar-left panel_toolbox">
                                    <li><button type="button" class="btn btn-dark" onclick="location.href='./addNewRoleStudent'">Student</button></li>
                                    <li><a ><i  ></i></a>
                                    </li>

                                </ul>

                                <ul class="nav navbar-right panel_toolbox">
                                    <li><button type="button" class="btn btn-primary" onclick="location.href='./userAdd'">New User</button></li>
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                </ul>


                                <div class="clearfix"></div>
                            </div>



                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30">
                                </p>
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Netid</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Roles</th>
                                        <th>Edit</th>

                                    </tr>
                                    </thead>





                                    <tbody>
                                    {% for u in users  %}
                                        <tr>
                                            <td>{{u.username}}</td>
                                            <td>{{u.firstName}}</td>
                                            <td>{{u.lastName}}</td>

                                            <td>



                                                {% for r in u.getRoles() %}

                                                    {{ r.name }}
                                                    {{ ' || ' }}



                                                {% endfor    %}</td>

                                            <td>

                                                <button type="button" class="btn btn-round btn-success"
                                                        onclick="location.href='./userEdit?id={{u.id}}'">Edit</button>
                                            </td>


                                        </tr>

                                    {% endfor    %}

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    {% endblock %}
     
     
     
