{% extends "index.html.twig" %}
{% block body %}


    <div class="center_col" role="main" >
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>New Users </h3>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div>

                        {# Checking for form errors and displaying them#}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger" id="errorDiv">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}

                        <br />
                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.username) }}
                                </div>
                                {{ form_errors(form.username) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.firstName) }}
                                </div>
                                {{ form_errors(form.firstName) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.lastName) }}
                                </div>
                                {{ form_errors(form.lastName) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.cardId,null ,{ 'label_attr': {'style': 'font-weight:200'}}) }}
                                </div>
                                {{ form_errors(form.cardId) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.cardId, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.scancode,null ,{ 'label_attr': {'style': 'font-weight:200'}}) }}

                                </div>
                                {{ form_errors(form.scancode) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.scancode, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.roles) }}
                                </div>
                                {{ form_errors(form.roles) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.roles, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required',
                                        'size':'15'

                                    }}) }}
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-secondary" type="button" onclick="location.href='./userShowAll'">Cancel</button>
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

                                </div>
                            </div>

                        </form>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
