{% extends "index.html.twig" %}
{% block body %}
    <div class="modal" tabindex="-1" role="dialog" id="myModalEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: rgba(38,185,154,.88);height:45px">
                    <h5 class="modal-title" style="color:white; font-size: large;font-family: Helvetica, Arial, sans-serif;"><b>Save</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"/>
                        <span aria-hidden="true">&times;</span></h5>
                    </button>
                </div>
                <div class="modal-body" style="height: 50px">
                    <p>Are you sure you want to save the changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-success" id="saveChanges" >Save</button>
                </div>

            </div>
        </div>
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="myModalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #C82829;height:45px">
                    <h5 class="modal-title" style="color:white; font-size: large;font-family: Helvetica, Arial, sans-serif;"><b>Delete</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"/>
                        <span aria-hidden="true">&times;</span></h5>
                    </button>
                </div>
                <div class="modal-body" style="height: 50px">
                    <p>Are you sure you want to delete this User Group?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    {# Change the delete URL #}
                    <button type="button" class="btn btn-danger" id="deleteItem" onclick="location.href='./deleteUserGroup?id={{ deleteId }}'">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="center_col" role="main" >



        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 > Edit User Group ({{ groupName }})</h2>

                        <span class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="right">

                       <button type="button" id="deleteBtn" class="btn btn-danger"  data-toggle="modal" data-target="#myModalDelete" style="float: right">Delete</button>
                        </span>

                        <div class="clearfix"></div>
                    </div>




                    <div class="x_content">

                        {% for label, messages in app.flashes %}
                            <div class="alert alert-danger" id="errorDiv">
                                {% for message in messages %}
                                    <div class="flash-{{ label }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {% if not form.vars.valid %}
                            <div class="alert alert-danger" id="errorDiv">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        <br />
                        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">



                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.name) }}
                                </div>
                                {{ form_errors(form.name) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.description) }}
                                </div>
                                {{ form_errors(form.description) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required': 'required'}}) }}
                                </div>
                            </div>




                            <div class="form-group">

                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    {{ form_label(form.users) }}
                                </div>
                                <div  class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.roles, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12" data-color="white">
                                </div>
                                <div  class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.users, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">




                                    <button class="btn btn-secondary" type="button" onclick="location.href='./userGroupShowAll'">Cancel</button>

                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success', 'data-toggle':'modal','data-target':'#myModalEdit' }}) }}

                                </div>
                            </div>

                        </form>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>





    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $('#form_submit').on('click',function(event) {
                event.preventDefault();

            });
            $('#saveChanges').on('click',function(){
                $('form').submit();
            });
            $('#deleteBtn').on('click',function(event) {
                event.preventDefault();

            });


        </script>

        <script type="text/javascript">
            $(function(){

                $('#form_users').multiSelect({
                    selectableHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='search'>",
                    selectionHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='search'>",


                    afterInit: function(ms){
                        var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function(e){
                                if (e.which === 40){
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function(e){
                                if (e.which == 40){
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                        that.qs3 = $('#form_roles').quicksearch(selectableSearchString, {
                            'testQuery': function (query, txt, row) {
                                var v = $(row).data("roles");
                                if(v === "" || Array.isArray(v)) {
                                    return query[0] === "";
                                } else {
                                    console.log($(row).data("roles"));
                                    // change single quotes to double (double is required for JSON), because we had to change them to play nice with form style
                                    var d = $(row).data("roles").replace(/'/g, "\"");
                                    var r = JSON.parse(d);
                                    for (var i = 0; i < r.length; i++) {
                                        console.log(r[i]);
                                        if (r[i] == query[0]) {
                                            return true;
                                        }
                                    }
                                    return false;
                                }
                            }
                        }).on('change', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });


                    },
                    afterSelect: function(){
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function(){
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                });
                //change the size of the two selectable tables

                $('.ms-container').css('width', '100%');
                $('.ms-list').addClass('form-control');
            });

        </script>



    {% endblock %}



{% endblock %}