{% extends "index.html.twig" %}
{% block body %}
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
                <div class="x_title">
                    <div class="title_left">
                        <h3>Announcements
                            <button type="button" class="btn btn-primary" onclick="location.href='/addNewAnnouncement'" style="float:right">New Announcement</button></h3>
                    </div>
                </div>
                <div class="clearfix"></div>

              <div class="x_content">
                  <p class="text-muted font-13 m-b-30"></p>
{#                  <p><b>Active Announcement</b></p>     #}
                  <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Subject</th>

                                <th>Message</th>

                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for a in announcements  %}
                            {% if a.active == 1 %}
                            <tr>
                                <td>{{ a.subject }}</td>

                                <td>
                                    {% if a.message|length > 40 %}
                                        {{ a.message[0:40] }} ...
                                    {% else %}
                                        {{ a.message }}
                                    {% endif %}
                                </td>

                                <td>{{ a.startDate|date("m/d/y") }}  </td>
                                <td>{{ a.endDate|date("m/d/y") }} </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                    onclick="location.href='/editAnnouncement?id={{a.id}}'">Edit</button>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
              </div>

{#
// Inactive Announcements are NOT REQUIRED in this project

              {% if numInactive != 0 %}
              <div class="x_content">
                  <p class="text-muted font-13 m-b-30"></p>
                  <p><b>Inactive Announcement</b></p>
                  <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                      <tr>
                          <th>Subject</th>

                          <th>Message</th>

                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Edit</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for a in announcements  %}
                          {% if a.active == 0 %}
                              <tr>
                                  <td>{{ a.subject }}</td>

                                  <td>{{ a.message }}</td>

                                  <td>{{ a.startDate|date("m/d/y") }}  </td>
                                  <td>{{ a.endDate|date("m/d/y") }} </td>
                                  <td>
                                      <button type="button" class="btn btn-round btn-success"
                                              onclick="location.href='/editAnnouncement?id={{a.id}}'">Edit</button>
                                  </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              {% endif %}
#}

          </div>
      </div>
</div>
{% endblock %}
